<h1>People Come And Go, You Can Always Eat Da Burger</h1>

<h2></h2>

<h2></h2>
<form class="create-form">

    <div class="form-group">
        <label for="ca">Burger choice:</label>
        <input type="text" id="add-burger" name="name">
    </div>
    <button type="submit" id="burger-btn">Add Burger</button>
</form>

<h2>Burgers To Devour</h2>


<p>
    {{#each burgers}}
    {{#unless devoured}}
<p>
    {{burger_name}}
    <button class="eat" data-devoured={{devoured}} data-id={{id}}>Eat the burger</button>
    <button class="delete" data-id={{id}}>Delete the burger</button>
</p>
{{/unless}}
{{/each}}
</p>

<h1>Burgers You've Devoured</h1>
<p>
    {{#each burgers}}
    {{#if devoured}}
<p>
    {{burger_name}}
    <button class="eat" data-devoured={{devoured}} data-id={{id}}>Thanks, I'm full.</button>
    <button class="delete" data-id={{id}}>Delete the burger</button>

    </li>
    {{/if}}
    {{/each}}
    </li>